# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments (highly recommended)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables / Secrets
.env
.env.*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit tests and coverage reports
htmlcov/
.tox/
.nosexy/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs and editors (Optional, can also be set globally)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp